<footer class="site-footer container">
    {% if navigation.primary %}
    <nav class="nav">
    <ul class="nav__list">
        {% for item in navigation.primary %}
        <li class="nav-item text-preset-2">
            <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
    </ul>
    </nav>
    {% endif %}
</footer>