{%- for project in collections.projects -%}
  <article>
    <a href="{{ project.url }}"><img src="{{ project.data.thumbnail }}" class="responsive-img margin-bottom" alt="{{ project.data.title }}"></a>
  </article>
{%- endfor -%}