{% if navigation.links %}
  <ul class="padding-left-none">
    {% for item in navigation.links %}
      <li class="font-sans list-no-style padding-left-none">
        <a href="{{ item.url }}">{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}