{% if navigation.items %}
<nav class="nav">
  <ul class="nav__list">
    {% for item in navigation.items %}
      <li class="nav-item text-preset-2">
        <a href="{{ item.url }}">{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}