{% if navigation.items %}
<div class="container">
  <nav class="nav">
    <ul class="nav__list">
      {% for item in navigation.items %}
        <li class="nav--item">
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endif %}