<section class="margin-bottom-lg">
<header class="flex--header margin-bottom-sm">
  <h2 class="h5 text-color__magenta flex--title">Fun Projects</h2>
  <a class="font-sans" href="/for/">View All</a>
</header>
{%- for project in fun.projects -%}
<article class="font-sans margin-bottom-lg">
  <h3 class="text-size-3 margin-bottom"><a href="{{ project.github }}">{{ project.text }}</a></h3>
  <p class="italic margin-top-none margin-bottom-none">{{ project.description }}</p>
  {% for tag in project.tags %}
    <span class="text-color__light-grey">#{{ tag }}</span>
  {% endfor %}
</article>
{%- endfor -%}
</section>
