---
eleventyExcludeFromCollections: false
layout: base.njk
title: To Share
---
<h1 class="black">Here you go!</h1>
<h2 class="text-color__grey margin-bottom-lg">Each week I share my favorite things that cross my path on the web.</h2>
{% include "share.njk" %}