---
title: base
---
<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
    <body id="{{ template }}">
        {% include "navigation.njk" %}
        <main class="container">
        {{ content | safe }}
        </main>
        {% include "footer.njk" %}
        <!-- Main JS -->
        <script src="{{ 'assets/scripts/main.js' | url }}"></script>
        <script src="{{ 'assets/scripts/prism.js' | url }}"></script>
        <!-- Individual Plugins -->

    </body>
</html>