---
layout: base.njk
template: home
---
<header class="home-header">
    {{ content | safe }}
    {% if external.links %}
        <h3 class="home-header-links__title">Keep in Touch</h3>
            <ul class="home-header-links">
            {% for link in external.links %}
                <li class="home-header-links__item"><a href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
            </ul>
    {% endif %}
</header>
{% include "posts.njk" %}