---
layout: base.njk
template: post
---
<h1 class="no-margin-bottom black">{{ title }}</h1>
<time class="text-preset-7 font-sans text-color__light-grey" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{{ content | safe }}