---
layout: base.njk
title: post
---
<h1 class="no-margin-bottom">{{ title }}</h1>
<time class="postlist-date no-margin-top" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{{ content | safe }}