---
title: work
---
<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
    <body id="work">
        {% include "navigation.njk" %}
        <main class="container">
        {{ content | safe }}
        {% include "gallery.njk" %}
        </main>
        {% include "footer.njk" %}
        <!-- Main JS -->
        <script src="{{ 'assets/scripts/main.js' | url }}"></script>
        <!-- Individual Plugins -->

    </body>
</html>