/*  import from typekit */
 @import url("https://use.typekit.net/ifk1rws.css");
*, :before, :after {
  border: 0;
  margin: 0;
  padding: 0;
 }
html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
}

/*  General Styles */
body {
  color: #343434;
  font-size: 1rem;
  font-family: "freight-sans-pro", sans-serif;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100em;
  width: 80%;
}
.nav {
  margin: 2rem 0;
}
.menu {
  display: inline-block;
  margin: 0 0 0 2rem;
  padding: 0;
  vertical-align: baseline;
}
.menu-item {
  display: inline-block;
  margin: 0 1rem 0 0;
}
.sidebar, .left {
  display: inline-block;
  width: 30%;
  padding-right: 10%;
  vertical-align: top;
}
.content, .right {
  display: inline-block;
  width: 55%;
  vertical-align: top;
}
.article .content {
  width: 100%;
  display: block;
}
.article .post {
  margin: 0 17.5%;
  padding-bottom: 6rem;
}
section {
  margin: 0 0 3rem 0;
}
h1,h2,h3,h4 {
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: .75rem;
}
a {
  color: #3D993D;
  text-decoration: none;
}
a:hover {
  color: black;
  border-bottom: 1px solid black;
}
/* Typography */
.logo-link {
  color: #181818;
  font-size: 2em;
  font-weight: bold;
}
.logo-link:hover {
  color: #3D993D;
}
.menu li a {
  color: #8c8c8c;
}
#active a, .menu a:hover {
  color: #3D993D;
  border-bottom: 1px solid #3D993D;
}
mark {
  background-color: #F9E79D;
  padding: 0 .2em;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
.section-title {
  color: #8c8c8c;
  font-size: 1em;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
}
.section-title:after {
  background: #8c8c8c;
  content: "";
  height: 2px;
  position: absolute;
  width: 40%;
  top: 8px;
  margin-left: 1em;
  z-index: 1;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.6em;
}
.post-date {
  color: #ccc;
}
h5 {
  font-size: 1.4em;
}
p {
  font-size: 1.3em;
  line-height: 1.9;
  margin: 0 0 1.5rem 0;
  font-family: 'skolar-latin', serif;
}
.post-intro {
  font-size: 1.8em;
}
.sidebar p, .site-footer p {
  font-size: 1em;
  line-height: 1.5;
}
.site-footer p {
  color: #8c8c8c;
  display: block;
}
blockquote {
  border-left: 3px solid #8c8c8c;
  font-size: 1em;
  margin: 0 0 1.5rem;
  padding: 0 3rem;
}
blockquote cite {
  display: block;
  margin-top: 1rem;
  text-align: left;
}
cite {
  margin-bottom: 2rem;
}
pre, code {
  color: #8c8c8c;
  font-family: monospace;
}
pre {
  padding: 1rem;
  font-size: 1.4em;
  margin: 3rem 0;
}
hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  height: 0;
  margin: 3rem 0;
}
figure {
  margin-bottom: 2rem;
}
.content ul, .content ol, .content dl, .content table {
  margin: 0 2rem 1.5rem;
}
.content ul ul, .content  ol ul, .content ol ol {
  margin-bottom: 0;
  line-height: 1.6;
}
.content li {
  margin: 0 1.5rem;
}
li {
  list-style: none;
}
.content ul li {
  list-style: disc;
}
.content ol li {
  list-style: decimal;
}
.content dt {
  font-weight: bold;
}
.content dd {
  margin-left: 1.5rem;
}
dd{
  margin: 0 0 2rem 0;
}
table {
  border-spacing: 0;
  display: table;
  max-width: 100%;
  width: 100%;
}
td, th {
  text-align: left;
  padding: .5rem;
}
td {
  border-bottom: 1px solid #ccc;
}
thead th {
  border-bottom: 1px solid #8c8c8c;
}
tfoot th {
  border-top: 1px solid #8c8c8c;
}
[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: .75rem;
  outline: none;
  background: transparent;
  margin-bottom: .5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}
select, textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
}
label {
  display: block;
  font-weight: bold;
  margin: 1.5rem 0 1rem;
  width: 100%;
}
.button, a.button, [type=submit], [type=reset], [type=button], button {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #343434;
  border-radius: 8px;
  color: #343434;
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
  padding: .5rem .8rem;
  margin: 0 0 1rem;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1;
}
.button:hover, a.button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover, button:hover {
  background: #3D993D;
  border-color: #3D993D;
  color: #fff;
}
.back-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
.big-text {
  color: #181818;
  display: block;
  font-size: 1.4em;
  line-height: 1.9;
}
.home .big-text {
  padding-right: 35%;
}
.about .big-text {
  position: relative;
  top: 6rem;
  margin-left: 40%;
}
.big-text h1 {
  font-weight: normal;
}
/*  Text Helpers */
small {
  font-size: .8em;
  line-height: 1.6;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.all-caps {
  letter-spacing: .1em;
  text-transform: uppercase;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
}
/* Image Helpers */
figure img {
  width: 100%;
}

.browser-width {
  left: -25vw;
  position: relative;
  width: 100vw;
}
.content-width {
  width: 100%;
}
.extend-left {
  position: relative;
  left: -26%;
  width: 126%;
}
.extend-left+cite {
  display: block;
  left: -26%;
  position: relative;
  width: 126%;
}
.extend-right {
  width: 126%;
}
.extend-right+cite {
  display: block;
  position: relative;
  width: 126%;
}

/* Layout & General Styles */
.header {
  margin: 14rem 0 8rem 0;
}
.about .header {
  background-image: url('../images/ethan-shutt-headshot.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 55%;
  height: 40vh;
}
.showcase-item {
  display: inline-block;
  width: 100%;
  margin: 0 2.5% 1.2rem 0;
  vertical-align: top;
}
.showcase-link:hover {
  border: 0;
  opacity: .8;
}
.project {
  margin-bottom: 2rem;
}
.first {
  display: inline-block;
  width: 50%;
  vertical-align: bottom;
}
.second {
  display: inline-block;
  margin-left: 4%;
  margin-top: 2rem;
  width: 45%;
  vertical-align: bottom;
}
.even .first {
  width: 30%;
}
.even .second {
  width: 65%;
}
.post-preview {
  margin-bottom: 2rem;
}
.article .post-preview {
  display: inline-block;
  width: 30%;
  margin-right: 10%;
  vertical-align: top;
}
.site-footer {
  padding: 6rem 0 3rem 0;
}
.footer-links, .social-list {
  display: inline-block;
  padding-right: 2rem;
  width: 30%;
  vertical-align: top;
}