---
eleventyExcludeFromCollections: true
layout: about.njk
title: About
---
<header class="container">
<figure>
    <img class="responsive-img" src="/assets/images/ethanshutt-portrait.jpg" >
</figure>
<h1 class="black text-size-7">I’m Ethan Shutt.</h1>
<h2 class="text-color__light-grey">I am a designer, developer, and marketer who makes things for print and the web.</h2>
<p>I studied at Murray State University and received a Bachelor of Fine Arts with an emphasis in Graphic design. Since then, I’ve spent the last four years honing my skills in design and marketing with freelance clients and day-to-day at Hunt Ford Chrysler.</p>
<p>My primary focuses are helping companies match their brands to their ideal culture, building lean and responsive websites, and creating content that informs buyers.</p>
<p>I’m also passionate about <a href="/bookshelf">reading</a>, <a href="/to-share">sharing information</a>, and travel.</p>
</header>
<section class="container">
    <h2>A Short History</h2>
    <div class="grid">
        <div>
            <h3>2020</h3>
        </div>
        <div>
            <p>I started work on this new version of my personal site.</p>
        </div>
    </div>
    <hr>
    <div class="grid">
        <div>
            <h3>2019</h3>
        </div>
        <div>
            <p>We bought our first house, and moved to Franklin, Kentucky.</p>
            <p>I designed a series of wayfinding materials for the <strong>Logan County Public Library.</strong></p>
            <p>We took a trip to Maine, Canada, and New York City.</p>
        </div>
    </div>
    <hr>
    <div class="grid">
        <div>
            <h3>2018</h3>
        </div>
        <div>
            <p>I created a poster for <strong>Logan County Public Library’s new Community Unity Program.</strong></p>
            <p>I worked with <strong>Farmers Hardware</strong> to create a new web presence and logo.</p>
            <p>I worked with <strong>Truly Styled</strong> and made their new website.</p>
            <p>Taylor and I visited my sister in Hood River, Oregon.</p>
        </div>
    </div>
    <hr>
    <div class="grid">
        <div>
            <h3>2017</h3>
        </div>
        <div>
            <p><strong>Logan County Public Library</strong> approached me to redesign their logo.</p>
            <p>I worked with <strong>Industrial Project & Design</strong> to create a new website.</p>
            <p>There was a Total Solar Eclipse in my hometown. I was asked to design a t-shirt for the <strong>Logan County Chamber of Commerce</strong></p>
            <p>I began working full-time at <strong>Hunt Ford Chrysler</strong> in marketing and advertising.</p>
            <p>Taylor and I finally tied the knot.</p>
        </div>
    </div>
    <hr>
    <div class="grid">
        <div>
            <h3>2016</h3>
        </div>
        <div>
            <p>I graduated from <strong>Murray State University</strong> with a Bachelor of Fine Arts emphasizing in Graphic Design</p>
        </div>
    </div>
</section>