---
eleventyExcludeFromCollections: true
layout: home.njk
title: Home
---
<header class="home-header container">
    <figure class="margin-bottom-sm">
        <img style="height: 2em; position: relative; left: -1em;" class="margin-right-md" src="/assets/images/registration.png">
        <img style="height: 2em; position: relative; left: -1em;" src="/assets/images/colorbar.png">
    </figure>
    <section class="margin-bottom-lg">
        <h1 class="black text-size-7">Hi there, my name is Ethan.</h1>
        <h2 class="text-color__light-grey margin-bottom-md">I’m a designer and marketer making things for print and the web.</h2>
        <a href="/about">More about me?</a>
    </section>
    <section>
        <h3>Get in touch</h3>
        {% include "links.njk" %}
    </section>
</header>
<section class="margin-bottom-lg">
<div class="container wide vh grid grid-3 grid-align-center">
{%- for logo in work.logos -%}
    <figure>
        <img class="logo-img" src="{{ logo.url }}" alt="{{ logo.alt }}">
    </figure>
{%- endfor -%}
</div>
<div class="container">
    <h3>Logo Design & Brand Identity</h3>
    <p>With the overall marketing and business goals in mind, I help companies establish a mark and identity that helps push them forward.</p>
</div>
</section>
<hr>
<section class="margin-bottom-lg">
<div class="container wide vh grid grid-5 grid-align-center">
{%- for poster in work.posters -%}
    <figure>
        <img class="responsive-img box-shadow" src="{{ poster.url }}" alt="{{ poster.alt }}">
    </figure>
{%- endfor -%}
</div>
<div class="container">
    <h3>Print & Poster Design</h3>
    <p>An effective campaign usually needs print assets like posters, flyers, and brochures. Whether it is a gig, party, or event, I spread the word.</p>
</div>
</section>
<hr>
<section class="margin-bottom-lg">
<div class="container wide vh grid grid-3 grid-align-center">
{%- for site in work.websites -%}
    <figure class="website-border box-shadow margin-bottom-lg">
        <div class="window-controls">
            <span class="window-controls__button window-controls__button--red "></span>
            <span class="window-controls__button"></span>
            <span class="window-controls__button"></span>
        </div>
        <div class="website-img">
            <img class="responsive-img" src="{{ site.url }}" alt="{{ site.alt }}">
        </div>
    </figure>
{%- endfor -%}
</div>
<div class="container">
    <h3>Website Design & Development</h3>
    <p>The web presents increasing opportunities for businesses today. I use tools like semantic HTML, lean JavaScript, and modular CSS to make websites for all screens—big or small.</p>
</div>
</section>
<hr>
<section class="margin-bottom-lg">
<div class="container wide vh grid grid-align-center">
{%- for graphic in work.social -%}
    <figure>
        <img class="responsive-img box-shadow" src="{{ graphic.url }}" alt="{{ graphic.alt }}">
    </figure>
{%- endfor -%}
</div>
<div class="container">
    <h3>Social Media & Content Strategy</h3>
    <p>In the hope of spreading as wide of a net as possible and maximizing return-on-investment, I create strategies and campaigns to help grow an audience.</p>
</div>
</section>
<hr>
<section class="container"> 
    {% include "posts.njk" %}
    {% include "projects.njk" %}
</section>