---
eleventyExcludeFromCollections: true
layout: home.njk
title: Home
---
<h1 class="h3">Hey there, my name is Ethan Shutt. I'm a designer making things for print and the web.</h1>
<a href="/personal/">Want to know more?</a>
