---
eleventyExcludeFromCollections: true
layout: home.njk
title: Home
---
<header class="home-header">
    <h1 class="no-margin-bottom">Hi there, I’m Ethan.</h1>
    <h2 class="h3 font-sans no-bold no-margin-top text-color__grey">I am a designer and developer making things for print and the web. I focus primarily on brand identity, perfecting typography, and building lean websites.</h2>
</header>